.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--hero-footer-bg-color);
    color: var(--primary-white-color);
    text-align: center;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    background-image: linear-gradient(to right, var(--overlay-start-color), var(--overlay-end-color)),
        url(../images/hero/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__title {
    margin: 0 0 30px 0;

    font-weight: 900;
    letter-spacing: 0.06em;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
}