

.contacts__icon-mail {
    display: inline-block;
    fill: var(--secondary-text-color);
    transition: fill 250ms var(--timing-func);
@media screen and (max-width: 767px) {
    display: none;
}
    @media screen and (min-width: 768px) {
        width: 14px;
        height: 10px;
        margin-right: 8px;
    }
@media screen and (min-width: 1200px) {
    width: 16px;
    height: 12px;
}
}
.contacts__icon-tel{
        display: inline-block;
        fill: var(--secondary-text-color);
        transition: fill 250ms var(--timing-func);
@media screen and (max-width: 767px) {
    display: none;
}
    @media screen and (min-width: 768px) {
        width: 10px;
        height: 14px;
        margin-right: 8px;
    }
@media screen and (min-width: 1200px) {
        width: 10px;
        height: 16px;
}
    }

.feature__icon{
    width: 70px;
    height: 70px;
}
.featnre__rectangle {
     display: flex;
    background-color: var(--secondary-bg-color);
    height: 120px;
    width: 100%;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}