.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 450px; */
    z-index: 6;
    min-width: 450px;
    min-height: 609px;
    background: var(--primary-white-color);
}

.modal__button {
    position: absolute;
    padding: 4px;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-color: rgba(0, 0, 0, 0.1);
    background-color: var(--primary-white-color);
    cursor: pointer;

    &:focus .modal__button--close,
    &:hover .modal__button--close {
        fill: var(--accent-color)
    }

}

.modal__button--close {
    display: inline-block;
    fill: #000000;
    transition: fill 250ms var(--timing-func);
}



/*  */
.modal__form {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.modal__form--title {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 1.15;
    color: var(--primary-text-color);
    margin-bottom: 12px;
}


.modal__form--icon {
    width: 18px;
    height: 18px;
    transition: fill 250ms var(--timing-func);
}


.modal__form--label {
    position: relative;
    margin-top: 4px;
    margin-bottom: 10px;
}



.modal__form--message {
    font-size: 12px;
    line-height: 1.71;
    letter-spacing: .01em;
    color: rgba(117, 117, 117, .5);
    height: 120px;
    margin-bottom: 20px;
    padding: 16px 12px;
    resize: none;
    display: block;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, .2);
    border-radius: 4px;
    cursor: pointer;
    transition: border 250ms var(--timing-func);
}


.modal__form--input {
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    padding-left: 42px;

    transition: border 250ms var(--timing-func);

    &:focus {
        border: 1px solid var(--accent-color);
        outline: transparent;
    }

    &:focus+.modal__form--icon {
        fill: var(--accent-color);
    }
}



.modal__form--icon {
    position: absolute;

    top: 50%;
    left: 13px;
    width: 18px;
    height: 18px;
    transform: translateY(-50%);

    fill: var(--title-text-color);
}

.modal__form--checkbox {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    &-label::before {
        content: "";
        width: 16px;
        height: 15px;
        border: 2px solid var(--primary-text-color);
        border-radius: 4px;
        display: inline-block;
        margin-right: 8px;
        cursor: pointer;
        vertical-align: middle;
    }

    &-input:checked+&-label::before {
        background-color: var(--accent-color);
        border-color: var(--accent-color);
        background-image: url(../images/svg/check.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    &-input:focus+&-label::before {
        border-color: var(--accent-color);

    }
}







.modal__form--policy-link {
    color: var(--accent-color);
    text-decoration-line: underline;
}


.modal__form--button {
    display: block;
    width: 200px;
    align-self: center;
    padding: 10px 32px;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: transparent;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    cursor: pointer;

    transition: background-color 250ms var(--timing-func);

    &:hover,
    &:focus {
        background: #188CE8;
    }
}