:root {
    --accent-color: #2196f3;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --primary-white-color: #ffffff;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --social-bg-color: rgba(255, 255, 255, 0.1);
    --logo-black: #000000;
    --hero-footer-bg-color: #2f303a;
    --hero-btn-color-accent: #188ce8;
    --overlay-start-color: rgba(47, 48, 58, 0.4);
    --overlay-end-color: rgba(47, 48, 58, 0.4);
    --secondary-bg-color: #f5f4fa;
    --line-border-color: #ececec;
    --social-icon-color: #afb1b8;
    --bg-color-primary: #e5e5e5;
    --style-roboto: Roboto, sans-serif;
    --style-raleway: Raleway, serif;
    /* ефект */
    --timing-func: cubic-bezier(0.4, 0, 0.2, 1);
}